<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>BlogLite</title>
    <style>
        body {
          width: 100%;
        }
    </style>
    {% block new_article_style %}
    {% endblock %}
  </head>
  <body style = "overflow-x:hidden;">
    
    <div class="container"style = "min-height: 200%;!important">
      <div class="row">
        <div class="col-md-1 col-lg-1 border " style = "padding-top:-10%;padding-bottom: 100%;">
          <div class="d-flex flex-column flex-shrink-0 bg-light" style="width:4.5rem;margin:0px;position: fixed;padding-top: 13%;">
            <a href="/{{ username }}/homepage" class="d-block p-3 link-dark text-decoration-none border-bottom" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
              <img src="/static/home.png" alt = "Home" style = "padding-left:5px;" width="36" height="30">
            </a>
            <a href="/{{ username }}/publish_new_article" style = "padding-left:22px;" class="nav-link py-3 border-bottom" title="Publish" data-bs-toggle="tooltip" data-bs-placement="right">
              <img src="/static/publish.png"  width="33" height="32">
            </a>
            <a href="/{{ username }}/my-blogs" class="nav-link py-3 border-bottom" title="My Blogs" data-bs-toggle="tooltip" data-bs-placement="right">
              <img src="/static/my_blogs.png" style = "padding-left:5px;" width="40" height="35" style = "padding-right: 20px;">
            </a>
            <div class="dropdown border-top">
              <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://images.pexels.com/photos/6985001/pexels-photo-6985001.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="mdo" width="24" height="24" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                <li><a class="dropdown-item" href="/{{username}}/publish_new_article"">New Blog</a></li>
                <li><a class="dropdown-item" href="/{{username}}/my-blogs">My Blogs</a></li>
                <li><a class="dropdown-item" href="/{{ username }}/my-profile">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/login">Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>
          {% block content %}
        
          {% endblock %}
      </div>
    </div>
  </body>
</html>