{% extends "base.html" %}

{% block content %}
<div class="col-8" style = "clear:both;float: left;padding-left: 20%;padding-top: 3%;">
    <h1 style = "margin-bottom:0;">
        {{ post.title }}
    </h1>
    <p style = "margin-top:-1; padding-top:0;font-size: 14px;">
        by {{ post.username }} published on {{ post.timestamp[:-9] }}
    </p>
    {% if display_img_flag %}
        <div style="text-align: center;">
            <img src = "{{ post.image_url }}" class="center" referrerpolicy="no-referrer" width = "100%" height = "60%">
        </div>
    {% endif %}
    <br>
    <div >
        {{ post.caption | safe}}
    </div>
</div>
{% endblock %}