{% extends "base.html" %}
{% block new_article_style %}
<style>
  .dot {
  width:5px;
  height:5px;
  background-color:gray;
  border-radius:20%;
  margin:2px;
}
</style>

{% endblock %}
{% block content %}
<div class="col-7" style = "clear:both;float: left;padding-left: 6%;padding-top: 3%;">
  <h3 class="pb-3 mb-4 font-italic border-bottom">
    Blogs published by You
  </h3>
  {% for post in posts %}
    <div class="card mb-3" style="max-width: 210%;object-fit: contain">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <a href="./view/post_id={{ post.id }}" style = "color: inherit;text-decoration:none;">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.caption[0:50] }}...</p>
            </a>
            <div class="dropdown">
              <p class="card-text" style = "display: inline-block;">
                <small class="text-muted">
                  Published by you on {{ post.timestamp[:-9] }}
                </small>
              </p>
              <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownBlogButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownBlogButton">
                <a class="dropdown-item" href="./edit/post_id={{ post.id }}">Edit</a>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{post.id}}">
                  Delete
                </a>
              </div>
              <!-- Delete Modal -->
              <div class="modal fade" id="deleteModal{{post.id}}" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this Blog?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div style = "text-align: center;">
                        <button type="button" class="btn btn-success">
                          <a href = "./delete/post_id={{ post.id }}" style="color: inherit;text-decoration: None;">
                            Yes
                          </a>
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style = "text-align: center;">
          {% if post.image_url != "" and post.image_url is not none %}
          <img src="{{ post.image_url }}" class="img-fluid rounded-start" alt="...">
          {% else %}
          <img src="/static/A_black_image.jpg" class="img-fluid rounded-start" alt="...">
          {% endif %}
          
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}