{% extends "base.html" %}

{% block new_article_style %}
<style>
  textarea { 
    width:100%;
    max-width:1050px;
    text-align:left;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock %}

{% block content %}
</head>
<div class="col-9" style = "clear:both;float: left;margin-left: 5%;padding-top: 3%;">
  {% if mode == "publish" %}
  <form action="./publish_new_article" method="POST">
  {% else %}
  <form action="./post_id={{ post_id }}" method="POST">
  {% endif %}
    <div class="form-group" style="text-align:center;">
      <h2>
        <label for="exampleFormControlTextarea1">Blog Name</label>
      </h2>
      <textarea class="form-control" name="article-title" rows="1" cols = "0" >{{ default_text_title }}</textarea>
    </div>
    <br>
    <div class="form-group" style="text-align:center;">
      <h3>
        <label for="exampleFormControlTextarea1">Blog Content</label>
      </h3>
      <textarea class="form-control" name="article-caption" rows="20" cols="0">{{ defualt_text_caption }}</textarea>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Image URL</span>
        <input name = "blog-image" type="text" class="form-control" placeholder="url" aria-label="Username" autocomplete = "off" aria-describedby="basic-addon1">
      </div>
      <input type="submit" value="Publish">
    </div>
  </form>
</div>

{% endblock %}
