{% extends "base.html" %}

{% block content %}

<div class="col-7" style = "clear:both;float: left;padding-left: 6%;padding-top: 3%;">
    <h2>
        Search results
    </h2>
    {% for user in search_results %}
        <div class="card" style = "margin-bottom:2%">
            <div class="card-body">
                <div class = "row">
                <div class = "col-7">
                    <h5>
                    {{ user.username }}
                    </h5>
                </div>
                <div class = "col" style = "margin-left:20%;">
                    <a href="/{{ username }}/profile/{{ user.username }}" style = "color:inherit;text-decoration:none">
                    <button type="button" class="btn btn-success btn-sm">Visit Profile</button>
                    </a>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}